body {
    background-color: gray;
}

/* Gave the body some color*/
header {
    background-color: rgb(220, 64, 64);
}

/* made colored banner with header*/
header h1 {
    margin: 0;
    color: white;
    font-family: 'Abril Flatface';
    font-size: 100px;
    text-align: center;
    padding: 60px 0 30px 30px;
}

a:hover {
    background-color: red;
}

/* image height and placement */
img {
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}
/* break line on website */
hr {
    border: 3px solid rgb(220, 64, 64)
}

/* placed a line for looks*/

li {
    font-size: 30px;

}

h3 {
    font-size: 30px;
}

footer {
    background-color: rgb(220, 64, 64);
    margin: 200px 0 0 0;
    padding: 20px 0;
}

/* made a colored footer for the end of the website*/
h2 {
    color: black;
    font-family: 'Abril Flatface';
    font-size: 40px;
    text-align: center;

}


.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

/* centered my first image with .center*/
p {
    color: black;
    font-family: 'Abril Flatface';
    font-size: 30px;
    text-align: center;
}

nav {

    padding: 10px;
    margin: 30px 30px 0 0;
    width: 38%;
    float: right;
    color: #fff;
    font-family: 'Abril Flatface', cursive;
    font-size: 28px;
    color: white;
}

header:after,
nav:after {
    content: " ";
    display: table;
    clear: both;
}
